body {
  margin: 0;
  padding: 0;
}
.highlight {
  background-color: seagreen;
  color: brown;
}
.first-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: radial-gradient(circle, #080402, #2c1819, #4a283c, #50416e, #1064a0);
  height: 100vh;
  flex-direction: column;
}
.wrapper_input-value {
  width: 212px;
  display: flex;
  flex-direction: column;
}
.wrapper_input-value input {
  border: none;
  background: black;
  color: orange;
  height: 30px;
}
.buttons-res{
  width: 53px;
  height: 48px;
  background: #0B8BE6;
  opacity: 0.7;
  border: 1px solid black;
  outline: none;
}
.buttons{
  width: 53px;
  height: 48px;
  background: #0B8BE6;
  opacity: 0.7;
  border: 1px solid black;
  outline: none;
}
.wrapper .buttons .number-button {
  width: 53px;
  height: 48px;
}
.wrapper .buttons .number-button button {
  width: 100%;
  height: 100%;
  background: #0B8BE6;
  opacity: 0.7;
  border: 1px solid black;
  outline: none;
}
/*# sourceMappingURL=index.css.map */