*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
}
.main{
    background: green;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main__btn{
    color:blue;
    border: none;
    background: yellow;
    border-radius: 15px;
    width: 240px;
    height: 60px;
    font-size: 18px;
}
.main__btn:hover{
    cursor: pointer;
    background: red;
}
.modal-window{
    top:0;
    display:none;
    height: 200px;
    width: 200px;
    background: gray;
    position: absolute;
}
.modal-window.active{
    display: flex;
}