.wrapper{
    margin-top: 10%;
    margin-left: 35%;
    width: 500px;
    text-align: center;
    color: #fff;
}
.form-control{
    margin-bottom: 20px;
}
.btn{
    width: 25%;
}
#result{
    margin-left: 104px;
}
body{
    background: url("../img/back3.jpg");
}